<html>
    <body>
        <form action="http://localhost:5000/submit" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="origin" placeholder="Origin" required>
            <input type="text" name="destination" placeholder="Destination" required>
            <input type="submit" value="Submit" name="submit_button">
            <input type="submit" value="Average" name="average_button">
        </form>
        <button ahref="home.html"> Return </button>
        
    </body>
</html>